<template>
  <aside
    class="app-sidebar"
    :class="computedClass"
    :style="computedStyle"
  >
    <ul class="app-sidebar__menu">
      <template v-for="(item, key) in items">
        <app-sidebar-link-group
          :key="key"
          :minimized="minimized"
          :icon="item.meta && item.meta.iconClass"
          v-if="item.children"
          :title="$t(item.displayName)"
          :children="item.children"
          :active-by-default="hasActiveByDefault(item)"
        >
          <app-sidebar-link
            v-for="(subMenuItem, key) in item.children"
            :key="key"
            :to="{ name: subMenuItem.name }"
            :title="$t(subMenuItem.displayName)"
          />
        </app-sidebar-link-group>
        <app-sidebar-link
          v-else
          :key="key"
          :minimized="minimized"
          :active-by-default="item.name === $route.name"
          :icon="item.meta && item.meta.iconClass"
          :to="{ name: item.name }"
          :title="$t(item.displayName)"
        />
      </template>
      <button class="button_logout" v-on:click="logout()">Log out </button>
      <button class="button_logout" v-on:click="call_api()">leer rol </button>
    </ul>
  </aside>
</template>

<script>
import { navigationRoutes } from './NavigationRoutes'
import AppSidebarLink from './components/AppSidebarLink'
import AppSidebarLinkGroup from './components/AppSidebarLinkGroup'
import { ColorThemeMixin } from '../../../services/vuestic-ui'
import AuthService from "./../../../msal_auth/authad"
import GraphService from "./../../../msal_auth/graphad"


export default {
  name: 'app-sidebar',
  inject: ['contextConfig'],
  components: {
    AppSidebarLink,
    AppSidebarLinkGroup,
  },
  mixins: [ColorThemeMixin],
  props: {
    minimized: {
      type: Boolean,
      required: true,
    },
    color: {
      type: String,
      default: 'secondary',
    },
  },
  data () {
    return {
      items: navigationRoutes.routes,
      userInfo: null,
      rol_admin: null,
      rol: null,
    }
  },
  created() {
    this.authService = new AuthService();
    this.graphService = new GraphService();
  },
  computed: {
    computedClass () {
      return {
        'app-sidebar--minimized': this.minimized,
      }
    },
    computedStyle () {
      return {
        backgroundColor: this.contextConfig.invertedColor ? 'white' : this.colorComputed,
      }
    },
  },
  methods: {
    hasActiveByDefault (item) {
      return item.children.some(child => child.name === this.$route.name)
    },
    logout: async function(){
      //var user_logout = new AuthService();
      await this.authService.logout();
      this.$router.push({name: 'auth'})
    },
    call_api: function(){
          //var user_logout = new AuthService();
          //user_logout
          //this.apiCallFailed = false;
          console.log(this.authService.getlogged())
          this.authService.getToken().then(
            token => {
              this.graphService.getUserInfo(token).then(
                data => {
                  this.userInfo = data;   //se lee la informacion y se pierde el usuario logeado
                  alert("welcome user with role: " + data.jobTitle)
                  if(this.userInfo){
                    this.rol="rol";
                    if(this.userInfo.jobTitle ==="Administrator"){
                      this.rol_admin = "admin";
                      console.log(this.authService.getlogged());
                    }
                    //this.$router.push({name:'Report'});
                  }
                },
                error => {
                  console.error(error);
                  //this.apiCallFailed = true;
                }
              );
            },
            error => {
              console.error(error);
            }
          );
          
        //this.rol="rol";
        //this.rol_admin="admin";
    }
  },
}

</script>

<style lang="scss">
@import '../../../../node_modules/bulma/bulma.sass';

.app-sidebar {
  overflow: auto;
  display: flex;
  max-height: 100%;
  flex: 0 0 16rem;

  @include media-breakpoint-down(sm) {
    flex: 0 0 100%;
  }

  &--minimized {
    flex: 0 0 3.25rem;
  }

  &__menu {
    margin-bottom: 0;
    padding-top: 2.5625rem;
    padding-bottom: 2.5rem;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }

  div.button_logout {
  text-align: center;
  font-size: 28px;
  color: #0000FF;
  font-weight: bold;
  }
  .button_logout{
        
    background-color: blue;
    text-align: center;
    color: rgb(0, 255, 234);
  }
}
</style>
