<!--<template>
  <div class="markup-tables">
    <va-card :title="$t('tables.basic')" class="mb-2">
      <table class="va-table">
        <thead>
          <tr>
            <th>{{ $t('tables.headings.name') }}</th>
            <th>{{ $t('tables.headings.email') }}</th>
            <th>{{ $t('tables.headings.country') }}</th>
            <th>{{ $t('tables.headings.status') }}</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.country }}</td>
            <td>
              <va-badge :color="getStatusColor(user.status)">
                {{ user.status }}
              </va-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </va-card>

    <va-card :title="$t('tables.stripedHoverable')">
      <table class="va-table va-table--striped va-table--hoverable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.country }}</td>
            <td>
              <va-badge :color="getStatusColor(user.status)">
                {{ user.status }}
              </va-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </va-card>
  </div>
</template>

<script>
import data from './data.json'

export default {
  data () {
    return {
      users: data.slice(0, 8),
    }
  },
  methods: {
    getStatusColor (status) {
      if (status === 'paid') {
        return 'success'
      }

      if (status === 'processing') {
        return 'info'
      }

      return 'danger'
    },
  },
}
</script>

<style lang="scss">
  .markup-tables {
    .va-table {
      width: 100%;
    }

    .va-card {
      max-width: 1200px;
    }
  }
</style>
-->

<script>
import Vue from 'vue'
import Vuex from 'vuex'
import { mapGetters} from 'vuex'
import JsonExcel from 'vue-json-excel'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.component('downloadExcel',JsonExcel)
Vue.use(VueAxios,axios, Vuex);

var cont=100;
var day_to_mseg = 24*60*60*1000;

export default {
  name: 'Report',
  mode: 'history',
  data (){
    return{
      j_header: ['Banco Origen','Banco Destino','Hora','Fecha','Tipo de transfer.','Proceso','Trace','Canal','Rol','Cod. de Rpta','Cod. de Rpta. ampliado','Origen de Respuesta','Descripcion de error','Moneda','Id. de transaccion CCE','Id. de transaccion CCE Orig','Id. de sesion app','Fecha hora ACE','Evento'],
      j_fields: {"Banco Origen": "campo01", "Banco Destino": "campo02", "Hora": "campo03", "Fecha": "campo04", "Tipo de transfer.": "campo05", "Proceso": "campo06", "Trace": "campo07", "Canal": "campo08", "Rol": "campo09","Cod. de Rpta": "campo10","Cod. de Rpta. ampliado": "campo11", "Origen de Respuesta": "campo12", "Descripcion de error": "campo13", "Moneda": "campo14", "Id. de transaccion CCE": "campo15", "Id. de transaccion CCE Orig": "campo16", "Id. de sesion app": "campo17", "Fecha hora ACE": "campo18", "Evento": "campo19"},
      j_data : [],
      j_meta: [
        [{'key': 'charset',
           'value': 'utf-8'}]
      ],
      page: 1,
      perPage: 63,
      pages: [],
      json_bank_p:[],
      data_required:[],
      ready_data: null,
      enable_next_rows: null,
      cont_pages: 1,
      index: 1
			}
  },
  methods: {
    getPosts: async function(){
      this.ready_data = null;
      var init_datos_json = await axios.get('/datojson.json');
      init_datos_json = init_datos_json.data;
      for (let init_dato_json of init_datos_json){
        this.j_data.push({
          campo01: init_dato_json.campo01,campo02: init_dato_json.campo02 , campo03: init_dato_json.campo03, campo04: init_dato_json.campo04,campo05: init_dato_json.campo05 , campo06: init_dato_json.campo06, campo07: init_dato_json.campo07,campo08: init_dato_json.campo08 , campo09: init_dato_json.campo09, campo10: init_dato_json.campo10,campo11: init_dato_json.campo11 , campo12: init_dato_json.campo12, campo13: init_dato_json.campo13,campo14: init_dato_json.campo14 , campo15: init_dato_json.campo15, campo16: init_dato_json.campo16,campo17: init_dato_json.campo17,campo18: init_dato_json.campo18,campo19: init_dato_json.campo19 
        });
      }
    },
    next_63: async function() {
      this.cont_pages++;
      //send query to API for more data about results 
      console.log(this.data_required + " resultado " + this.cont_pages);
      var init_datos_json = await axios.get('/datojson.json');
      init_datos_json = init_datos_json.data;
      for (let init_dato_json of init_datos_json){
        this.j_data.push({
          campo01: init_dato_json.campo01,campo02: init_dato_json.campo02 , campo03: init_dato_json.campo03, campo04: init_dato_json.campo04,campo05: init_dato_json.campo05 , campo06: init_dato_json.campo06, campo07: init_dato_json.campo07,campo08: init_dato_json.campo08 , campo09: init_dato_json.campo09, campo10: init_dato_json.campo10,campo11: init_dato_json.campo11 , campo12: init_dato_json.campo12, campo13: init_dato_json.campo13,campo14: init_dato_json.campo14 , campo15: init_dato_json.campo15, campo16: init_dato_json.campo16,campo17: init_dato_json.campo17,campo18: init_dato_json.campo18,campo19: init_dato_json.campo19 
        });
      }
    },
    setPages: function() {
            var numberOfPages = Math.ceil(this.j_data.length / this.perPage);
            while (this.index <= numberOfPages) {
                this.pages.push(this.index);
                this.index++;
            }
    },
    paginate: function(j_data){
      var page = this.page;
      var perPage = this.perPage;
      var from = (page * perPage) - perPage;
      var to = (page * perPage);
      return  j_data.slice(from, to);
    },
    search: function(){
      //reading search values
      this.data_required=[];
      this.j_data=[];
      this.pages=[];
      this.index=1;
      this.page=1;
      this.cont_pages = 1;
      if(document.getElementById('bank_source').value==="-" || document.getElementById('transfer_type').value==="-" || document.getElementById('bank_destiny').value==="-" ||document.getElementById('process_process').value==="-" || document.getElementById('responsecode_long').value==="-" || document.getElementById('channel_channel').value==="-" || document.getElementById('coin_coin').value==="-" || document.getElementById('origin_response_code').value==="-"|| document.getElementById('event_event').value==="-"){
        alert("Todos los filtros son requeridos");
        this.enable_next_rows = null;

      }
      else{
        this.data_required =[document.getElementById('init_date').value,document.getElementById('end_date').value,
          document.getElementById('init_time').value,document.getElementById('end_time').value,
          this.$store.state.bank_stored.filter(data =>data.name_bank===document.getElementById('bank_source').value)[0].code_bank,
          this.$store.state.typetransfer_stored.filter(data =>data.name_typetransfer===document.getElementById('transfer_type').value)[0].code_typetransfer,
          this.$store.state.bank_stored.filter(data =>data.name_bank===document.getElementById('bank_destiny').value)[0].code_bank,
          this.$store.state.process_stored.filter(data =>data.name_process===document.getElementById('process_process').value)[0].code_process,
          this.$store.state.responsecodelong_stored.filter(data =>data.name_responsecodelong===document.getElementById('responsecode_long').value)[0].code_responsecodelong,
          this.$store.state.channel_stored.filter(data =>data.name_channel===document.getElementById('channel_channel').value)[0].code_channel,
          this.$store.state.coin_stored.filter(data =>data.name_coin===document.getElementById('coin_coin').value)[0].code_coin,
          this.$store.state.originresponsecode_stored.filter(data =>data.name_originresponsecode===document.getElementById('origin_response_code').value)[0].code_originresponsecode,
          document.getElementById('event_event').value];
        console.log(this.data_required + " resultado " + this.cont_pages);
        //send query to API
        this.ready_data = "ok";
        this.enable_next_rows = "ok";    
      }
    },
  },
  computed: {
    banks_reg (){
      return this.$store.getters.get_banks_stored;
    },
    typetransfers_reg (){
      return this.$store.getters.get_typetransfer_stored;
    },
    processs_reg (){
      return this.$store.getters.get_process_stored;
    },
    responsecodelongs_reg (){
      return this.$store.getters.get_responsecodelong_stored;
    },
    channels_reg (){
      return this.$store.getters.get_channels_stored;
    },
    coins_reg (){
      return this.$store.getters.get_coins_stored;
    },
    originresponsecodes_reg (){
      return this.$store.getters.get_originresponsecode_stored;
    },
    table_rows (){
      return this.paginate(this.j_data);
    },
  },
  watch: {
    j_data () {
      this.setPages();
    },
    ready_data() {
      if (this.ready_data){
        this.getPosts();
      }
    }
  },
  filters: {
    trimWords(value){
      return value.split(" ").splice(0,20).join(" ") + '...';
    }
  }
  
}
</script>
<template>
  <div id="app1">
    <div class="title_table" >
      Historic Data
    </div>
    </br>
    <div>
      <div class="columns">
        <div class="column is-1">
          <div class="Search Filter">
            Fecha Inicio
          </div>
        </div>
        <div class="column is-1">
          <input type="date" id="init_date" value="2020-04-23" min="2019-01-01" max="2020-12-31">
        </div>
        <div class="column is-1 is-offset-7">
          <div class="Search Filter">
            Fecha Fin
          </div>
        </div>
        <div class="column is-1">
          <input type="date" id="end_date" value="2020-04-23" min="2019-01-01" max="2020-12-31">
        </div>
      </div>
      <div class="columns">
        <div class="column is-1">
          <div class="Search Filter">
            Hora Inicio
          </div>
        </div>
        <div class="column is-1">
          <input type="time" id="init_time" value="00:00">
        </div>
        <div class="column is-1 is-offset-7">
          <div class="Search Filter">
            Hora Fin
          </div>
        </div>
        <div class="column is-1">
          <input type="time" id="end_time" value="23:59">
        </div>
      </div>
      <div class="columns">
        <div class="column is-1">
          <div class="Search Filter">
            Banco Origen
          </div>
        </div>
        <div class="column is-1">
          <select id="bank_source">
            <option>-</option>
            <option v-for="bank_reg in banks_reg">{{bank_reg.name_bank}}</option>
          </select>
        </div>
        <div class="column is-1 is-offset-3">
          <div class="Search Filter">
            Tipo Transf.
          </div>
        </div>
        <div class="column is-1">
          <select id="transfer_type">
            <option>-</option>
            <option v-for="typetransfer_reg in typetransfers_reg">{{typetransfer_reg.name_typetransfer}}</option>
          </select>
        </div>
        <div class="column is-1 is-offset-2">
          <div class="Search Filter">
            Banco Destino
          </div>
        </div>
        <div class="column is-1">
          <select id="bank_destiny">
            <option>-</option>
            <option v-for="bank_reg in banks_reg">{{bank_reg.name_bank}}</option>
          </select>
        </div>
      </div>
      <div class="columns">
        <div class="column is-1">
          <div class="Search Filter">
            Proceso
          </div>
        </div>
        <div class="column is-1">
          <select id="process_process">
            <option>-</option>
            <option v-for="process_reg in processs_reg">{{process_reg.name_process}}</option>
          </select>
        </div>
        <div class="column is-1 is-offset-3">
          <div class="Search Filter">
            Codigo de Rpta
          </div>
        </div>
        <div class="column is-1">
          <select id="responsecode_long">
            <option>-</option>
            <option v-for="responsecodelong_reg in responsecodelongs_reg">{{responsecodelong_reg.name_responsecodelong}}</option>
          </select>
        </div>
        <div class="column is-1 is-offset-2">
          <div class="Search Filter">
            Canal
          </div>
        </div>
        <div class="column is-1">
          <select id="channel_channel">
            <option>-</option>
            <option v-for="channel_reg in channels_reg">{{channel_reg.name_channel}}</option>
          </select>
        </div>
      </div>
      <div class="columns">
        <div class="column is-1">
          <div class="Search Filter">
            Moneda
          </div>
        </div>
        <div class="column is-1">
          <select id="coin_coin">
            <option>-</option>
            <option v-for="coin_reg in coins_reg">{{coin_reg.name_coin}}</option>
          </select>
        </div>
        <div class="column is-1 is-offset-3">
          <div class="Search Filter">
            Cod. Origen rpta.
          </div>
        </div>
        <div class="column is-1">
          <select id="origin_response_code">
            <option>-</option>
            <option v-for="originresponsecode_reg in originresponsecodes_reg">{{originresponsecode_reg.name_originresponsecode}}</option>
          </select>
        </div>
        <div class="column is-1 is-offset-2">
          <div class="Search Filter">
            Evento
          </div>
        </div>
        <div class="column is-1">
          <select id="event_event">
            <option>-</option>
            <option>REGISTRADA</option>
            <option>ENVIADA</option>
            <option>ENVIADA R1</option>
            <option>ENVIADA R2</option>
            <option>ENVIADA R3</option>
            <option>RECIBIDA</option>
            <option>RECIBIDA R1</option>
            <option>RECIBIDA R2</option>
            <option>RECIBIDA R3</option>
            <option>COMPLETADA</option>
          </select>
        </div>
      </div>
      <div class="columns">
        <div class="column is-1 is-offset-5">
          <button v-on:click="search()" class="button is-link">
            Search Data
          </button>
        </div>
        <!--
        <div class="column is-2 is-offset-3">
          <button v-on:click="getPosts()" class="button is-link">
            Get json
          </button>
        </div>
        -->
      </div>
    </div>
    </br>
    <div id="table_excel" class="table-container">
      <table ref="table" id="excel1" summary="Tabla de prueba" rules="groups" frame="hsides" class="table table is-bordered table is-hover table-sm " cellspacing="0" width="100%" >
        <thead class="selected">
          <th style="text-align:center;" v-for="head_col in j_header"><strong>{{head_col}}</strong></th>
        </thead>
        <tbody id="table_body">
          <tr class="selected" v-for="table_row in table_rows">
            <td style="text-align:center;">{{table_row.campo01}}</td>
            <td style="text-align:center;">{{table_row.campo02}}</td>
            <td style="text-align:center;">{{table_row.campo03}}</td>
            <td style="text-align:center;">{{table_row.campo04}}</td>
            <td style="text-align:center;">{{table_row.campo05}}</td>
            <td style="text-align:center;">{{table_row.campo06}}</td>
            <td style="text-align:center;">{{table_row.campo07}}</td>
            <td style="text-align:center;">{{table_row.campo08}}</td>
            <td style="text-align:center;">{{table_row.campo09}}</td>
            <td style="text-align:center;">{{table_row.campo10}}</td>
            <td style="text-align:center;">{{table_row.campo11}}</td>
            <td style="text-align:center;">{{table_row.campo12}}</td>
            <td style="text-align:center;">{{table_row.campo13}}</td>
            <td style="text-align:center;">{{table_row.campo14}}</td>
            <td style="text-align:center;">{{table_row.campo15}}</td>
            <td style="text-align:center;">{{table_row.campo16}}</td>
            <td style="text-align:center;">{{table_row.campo17}}</td>
            <td style="text-align:center;">{{table_row.campo18}}</td>
            <td style="text-align:center;">{{table_row.campo19}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="columns">
      <div v-if="enable_next_rows" class="column is-1 is-offset-5">
        <button v-on:click="next_63()" class="button is-link">
          Next 100 rows
        </button>
      </div>
    </div> 
    <div class="columns">
      <div class="column is-2 is-offset-11">
        <Strong>Page N°{{page}}</Strong>  
      </div>
    </div>
    <div data-v-e3bbac24="" class="va-data-table__pagination">
      <div class="va-button-group va-pagination va-button-group--normal" data-v-e3bbac24="">
        <button tabindex="0" class="va-button va-button--outline va-button--without-title va-button--with-left-icon va-button--normal" style="color: rgb(20, 50, 255); opacity: 1; background-color: transparent;"  @click="page=1">
          <div class="va-button__content">
            <i class="va-icon va-button__content__icon va-button__content__icon-left fa fa-angle-double-left va-icon--fixed">
            </i><!----><!---->
          </div>
        </button>
        <button tabindex="0" class="va-button va-button--outline va-button--without-title va-button--with-left-icon va-button--normal" style="color: rgb(20, 50, 255); opacity: 1; background-color: transparent;" v-if="page != 1" @click="page--">
          <div class="va-button__content">
            <i class="va-icon va-button__content__icon va-button__content__icon-left fa fa-angle-left va-icon--fixed">
            </i><!----><!---->
          </div>
        </button>
        <button tabindex="0" class="va-button va-button--outline va-button--normal" style="color: rgb(20, 50, 255); border-color: rgb(20, 50, 255); opacity: 1; background-color: transparent;" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber">
          <div class="va-button__content"><!---->
            <div class="va-button__content__title">{{pageNumber}} 
            </div><!---->
          </div>
        </button>
        <button tabindex="0" class="va-button va-button--outline va-button--without-title va-button--with-left-icon va-button--normal" style="color: rgb(20, 50, 255); opacity: 1; background-color: transparent;" v-if="page < pages.length" @click="page++">
          <div class="va-button__content">
            <i class="va-icon va-button__content__icon va-button__content__icon-left fa fa-angle-right va-icon--fixed">
            </i><!----><!---->
          </div>
        </button>
        <button tabindex="0" class="va-button va-button--outline va-button--without-title va-button--with-left-icon va-button--normal" style="color: rgb(20, 50, 255); opacity: 1; background-color: transparent;" @click="page=pages.length">
          <div class="va-button__content">
            <i class="va-icon va-button__content__icon va-button__content__icon-left fa fa-angle-double-right va-icon--fixed">
            </i><!----><!---->
          </div>
        </button>
      </div>
    </div>
    </br>
    <div class="columns">
      <div class="column is-2 is-offset-3">
        <download-excel
          class   = "button is-link"
          :data   = "j_data"
          :fields = "j_fields"
          worksheet = "My Worksheet"
          name    = "Historic.xls">
        </download-excel>
      </div>
      <div class="column is-2 is-offset-2">
        <download-excel
          class   = "button is-link"
          :data   = "j_data"
          :fields = "j_fields"
          type = "csv"
          name    = "HistoricCSV">
        </download-excel>
      </div>
    </div>   
  </div>
</template>

<style lang="scss">
@import '../../../node_modules/bulma/bulma.sass';

div.title_table {
  text-align: center;
  font-size: 28px;
  color: #0000FF;
  font-weight: bold;

}

div.table-container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
button.page-link {
    display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
</style>
