<script>
/*import VaIconVuestic from '../../iconset/VaIconVuestic'
const tabs = [
  'login',
  'signup',
]
*/
import Vuex from 'vuex'
import {mapGetters} from 'vuex'
import AuthService from "./../../msal_auth/authad"
import GraphService from "./../../msal_auth/graphad"
import {Account} from 'msal'


export default {
  name: 'AuthLayout',
  //components: { VaIconVuestic },
  data () {
    return {
      /*selectedTabIndex: 0,
      tabTitles: ['login', 'createNewAccount'],
      */
      loginFailed: false,
      user:null,
      null_value: "novalue",
      rol: null
    }
  },
  methods: {
    loginMSAL () {
        this.loginFailed = false;
        this.$store.commit('save_user',"novalue");
        this.$store.commit('save_role',"norole");
        //console.log(this.$store.state.user_stored);
        console.log(this.$store.state.role_stored);
        this.authService.login().then(
          user => {
            if (user) {
              alert("welcome");
              this.$store.commit('save_user',user);
              this.$store.commit('save_role',"admin");
              console.log(this.$store.state.user_stored);
              console.log(this.$store.state.user_stored);
              //this.user=user;
              //console.log(this.user);
              this.$router.push({name: 'admin_dashboard'})
            } else {
              this.loginFailed = true;
              alert("login failed");
              //this.$router.push({name: 'auth'})
            }
          },
          () => {
            this.loginFailed = true;
            alert("login failed");
            //this.$router.push({name: 'auth'});
          }
        ).catch(function (error) {
          console.error(error)
          }
        );
    }
  },
  computed: {
    /*
    tabIndex: {
      set (tabIndex) {
        this.$router.push({ name: tabs[tabIndex] })
      },
      get () {
        return tabs.indexOf(this.$route.name)
      },
    },
    */
  },
  created(){
    this.authService = new AuthService();
    this.graphService = new GraphService();
    //alert("login with MSAL");

  }
}
</script>


<template>




  <div class="auth-layout row align-content--center">
    
    <div class="flex xs12 pa-3">
      <div class="d-flex justify--center">
          <img src="./BCP_LOGO.png">
      </div>
    </div>
    <div class="flex xs12 pa-3">
      <div class="d-flex justify--center">
          <div class="text-login">
            Dashboard de Operaciones Bancarias
          </div>
          
      </div>
    </div>
    <div class="flex xs12 pa-3">
      <div class="d-flex justify--center">

          <button class="button-is-link text-login" v-on:click="loginMSAL">
            Ingresar con mail BCP
          </button>
      </div>
    </div>
    <!--<div class="columns">
      <div class="column is-1 is-offset-6">
        <button v-on:click="loginMSAL">
          Login
        </button>
      </div>
    </div>-->
  </div>




















  <!--
  <div class="auth-layout row align-content--center">
    <div class="flex xs12 pa-3 flex-center">
      <router-link class="py-5 flex-center" to="/">
        <va-icon-vuestic />
      </router-link>
    </div>

    <div class="flex xs12 pa-3">
      <div class="d-flex justify--center">
        <va-card class="auth-layout__card">
          <va-tabs
            v-model="tabIndex"
            center
          >
            <va-tab>{{ $t('auth.login') }}</va-tab>
            <va-tab>{{ $t('auth.createNewAccount') }}</va-tab>
          </va-tabs>

          <va-separator/>

          <div class="pa-3">
            <router-view/>
          </div>
        </va-card>
      </div>
    </div>
  </div>
  -->
</template>



<style lang="scss">
@import '../../../node_modules/bulma/bulma.sass';


div.text-login {
  font-size: 32px;
  color: rgb(22, 204, 228);
  font-weight: bold;

}
button.text-login {
  font-size: 28px;
  color: rgb(30, 27, 245);
  font-weight: bold;

}
.auth-layout {
  min-height: 100vh;
  background-image: linear-gradient(to right, #002cb4, #002ca9);

  &__card {
    width: 100%;
    max-width: 600px;
  }

  &__options {
    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }
}

</style>
